
@{
    ViewData["Title"] = "FAQ";
}


<div>
        <p class="Question">
            Question 1
        </p>
        <P class="Answer">
            Answer 1
        </P>
        <p class="Question">
            Question 2
        </p>
        <P class="Answer">
            Answer 2
        </P>
        <p class="Question">
            Question 3
        </p>
        <P class="Answer">
            Answer 3
        </P>
        <p class="Question">
            Question 4
        </p>
        <P class="Answer">
            Answer 4
        </P>
    </div>