/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-q8ho6xwgpw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-q8ho6xwgpw] {
  color: #0077cc;
}

.btn-primary[b-q8ho6xwgpw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-q8ho6xwgpw], .nav-pills .show > .nav-link[b-q8ho6xwgpw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-q8ho6xwgpw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-q8ho6xwgpw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-q8ho6xwgpw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-q8ho6xwgpw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-q8ho6xwgpw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/* Website CSS */

*[b-q8ho6xwgpw]{
  margin: 0;
  padding: 0;
}

#nav-bar[b-q8ho6xwgpw] {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Add a black background color to the top navigation bar */
.topnav[b-q8ho6xwgpw] {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a[b-q8ho6xwgpw] {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover[b-q8ho6xwgpw] {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active[b-q8ho6xwgpw] {
  background-color: grey;
}

.navbarNav ul .li[b-q8ho6xwgpw] {
  color: white;
  background-color: grey;
}
.topnav a[b-q8ho6xwgpw] {
  background-color: white;
  font-size: 20px;
}

.navbar-brand img[b-q8ho6xwgpw] {
  height: 100px;
  padding-left: 0;
}

.navbar-nav li[b-q8ho6xwgpw] {
  padding: 0 10px;
}

.navbar-nav li a[b-q8ho6xwgpw] {
  float: right;
  text-align: left;
  font-size: 16px;
  background-color: grey;
}

.intro-content[b-q8ho6xwgpw] {
  position: absolute;
  top: 30%;
  left: 10%;
  color: wheat;
  font-family: 'Poppins';
}

.intro-title[b-q8ho6xwgpw] {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -.03em;
  margin-bottom: 1.2rem;
  text-indent: -0.2rem;
}





#nabar ul li a:hover[b-q8ho6xwgpw] {
  color: white !important;
}

.navbar[b-q8ho6xwgpw] {
  background-color: grey;
  margin-bottom: 20px;
  height: 70px;

}

.navbar-toggler[b-q8ho6xwgpw] {
  border: none;
}

.navbar-link[b-q8ho6xwgpw] {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}


/* SLIDER STYLE */

#Slider[b-q8ho6xwgpw] {
  width: auto;
  height: 240px;
  ;
}

/* FEATURED CATEGORY */


.featured-categories[b-q8ho6xwgpw] {
  margin: 50px 0;
}

.featured-categories img[b-q8ho6xwgpw] {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
  height: 240px;
}

.featured-categories img:hover[b-q8ho6xwgpw] {
  transform: scale(1.1)
}


/* PRODUCT HTML */

.title-box[b-q8ho6xwgpw] {
  background: blue;
  color: #fff;
  width: 280px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  margin-top: 70px;
}

.title-box h2[b-q8ho6xwgpw] {
  font-size: 24px;
}

.title-box[b-q8ho6xwgpw]::after {
  content: '';
  border-top: 40px #00cdcd;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}

h1[b-q8ho6xwgpw],
h2[b-q8ho6xwgpw],
h3[b-q8ho6xwgpw],
h4[b-q8ho6xwgpw],
h5[b-q8ho6xwgpw],
h6[b-q8ho6xwgpw] {
  font-weight: normal;
  font-size: 50%;
}

#site[b-q8ho6xwgpw] {
  /* max-width: 960px; */
  margin: 0 auto;
  padding: 0 1em;
}

/*-----product-top css-------*/
.product-top img[b-q8ho6xwgpw] {
  width: 100%;
  height: 300px;
}

.overlay-right[b-q8ho6xwgpw] {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.overlay-right .fa[b-q8ho6xwgpw] {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-bottom: 5%;
  margin-top: 10px;
}

.overlay-right .btn-secondary[b-q8ho6xwgpw] {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right[b-q8ho6xwgpw] {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

.product-bottom h3[b-q8ho6xwgpw] {
  font-size: 28px;
  padding-bottom: 10px;
}

#masthead[b-q8ho6xwgpw] {
  margin-top: 3em;
  padding: 2em 0 0.5em 0;
  border-bottom: 1px solid #ddd;
}

#masthead h1[b-q8ho6xwgpw] {
  margin: 0;
  font-size: 3.5em;
  overflow: hidden;
  padding-left: 85px;
  min-height: 82px;
  line-height: 2.3;
}

.tagline[b-q8ho6xwgpw] {
  float: right;
  color: blue;
  font-size: 14px;
  padding-top: 3.5em;
}

#products ul[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#products li[b-q8ho6xwgpw] {
  float: left;
  width: 31%;
  margin: 0 1%;
  display: block;
}

.product-image[b-q8ho6xwgpw] {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
}

.product-description[b-q8ho6xwgpw] {
  color: black;
  border-radius: 5px;
}

.product-name[b-q8ho6xwgpw] {
  text-align: center;
  color: black;
  margin: 0;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-price[b-q8ho6xwgpw] {
  width: 2.7em;
  height: 2em;
  font-size: 1.7em;
  text-align: center;
  margin-left: 90px;
  background: #fff;
  color: black;
}

.product-body.product-action-inner[b-q8ho6xwgpw] {
  padding-right: 4rem
}

.product-title[b-q8ho6xwgpw] {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -.01em;
  color: #333333;
  margin-bottom: .2rem
}

.product-title a[b-q8ho6xwgpw] {
  color: inherit
}

.product-title a:hover[b-q8ho6xwgpw],
.product-title a:focus[b-q8ho6xwgpw] {
  color: #c96
}

.product-cat[b-q8ho6xwgpw] {
  color: #777;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: -.01em;
  margin-bottom: .3rem
}

.product-cat a[b-q8ho6xwgpw] {
  color: inherit
}

.product-cat a:hover[b-q8ho6xwgpw],
.product-cat a:focus[b-q8ho6xwgpw] {
  color: #666
}

form.add-to-cart div[b-q8ho6xwgpw] {
  text-align: center;
  color: black;
}

form.add-to-cart p[b-q8ho6xwgpw] {
  text-align: center;

  color: blue;
}

form.add-to-cart p .btn[b-q8ho6xwgpw] {
  text-align: center;
  color: white;
  background: blue;
  margin-bottom: 40px;
}

form input.qty[b-q8ho6xwgpw] {
  width: 60px;
  border: 2px solid #eee;
  font: 1.5em 'PT Serif', serif;
  background: #f9f9f9;
  color: #000;
  border-radius: 3px;
  margin-left: 0.4em;
}

.btn[b-q8ho6xwgpw] {
  display: inline-block;
  background: #800;
  color: white;
  padding: 0.3em 1em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid white;
}

a.btn[b-q8ho6xwgpw] {
  display: inline-block;
  background: #cc1400;
  color: #fff;
  font: 1em 'PT Serif', serif;
  padding: 0.3em 1em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #a00;
}

.row div.active[b-q8ho6xwgpw] {
  padding: 2px;
  transition: all 0.5s ease;
}

.row div.delete[b-q8ho6xwgpw] {
  display: none;
  padding: 0;
  transition: all 0.5s ease;
}

.row div.current[b-q8ho6xwgpw] {
  background-color: white;
  color: black;
}

.filter-menu[b-q8ho6xwgpw] {
  margin-bottom: 15px;
  text-align: center;
}

.filter-menu li[b-q8ho6xwgpw] {
  display: inline-block;
  padding: 10px 17px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.filter-menu li:hover[b-q8ho6xwgpw],
.filter-menu li.current[b-q8ho6xwgpw] {
  background-color: white;
  border: 2px solid black;
  color: black;
}



/* ABOUT US HTML */

#about[b-q8ho6xwgpw] {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

#about .btn[b-q8ho6xwgpw] {
  margin-top: 20px;
  margin-bottom: 30px;
}

.about-content[b-q8ho6xwgpw] {
  padding-top: 20px;
}

.skills-bar p[b-q8ho6xwgpw] {
  margin-bottom: 6px;
  font-weight: 600;
}

.progress-bar[b-q8ho6xwgpw] {
  border-radius: 16px;
}

.progress[b-q8ho6xwgpw] {
  border-radius: 16px !important;
  margin-bottom: 20px;
}

/* TEAM */


#team[b-q8ho6xwgpw] {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

h1[b-q8ho6xwgpw] {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}

h1[b-q8ho6xwgpw]::after {
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.profile-pic .img-box[b-q8ho6xwgpw] {
  opacity: 1;
  display: block;
  position: relative;
}

.profile-pic .img-box img[b-q8ho6xwgpw] {
  filter: grayscale(1);
}

.profile-pic .img-box img:hover[b-q8ho6xwgpw] {
  filter: grayscale(0);
  cursor: pointer;
}

.profile-pic h2[b-q8ho6xwgpw] {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: black !important;
}

.profile-pic h3[b-q8ho6xwgpw] {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}

#team .fa[b-q8ho6xwgpw] {
  height: 25px;
  width: 25px;
  color: blue;
  
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}

.img-box ul[b-q8ho6xwgpw] {
  padding: 15px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.img-box ul li[b-q8ho6xwgpw] {
  padding: 5px;
  display: inline-block;
}

.img-box:hover ul[b-q8ho6xwgpw] {
  opacity: 1;
}

.img-box ul[b-q8ho6xwgpw],
.img-box ul[b-q8ho6xwgpw] {
  transition: 0.5s;
}

.img-responsive[b-q8ho6xwgpw] {
  height: 250px;
  width: 200px;
  margin: 0px 50px;
}



/* FOOTER */

#services[b-q8ho6xwgpw] {
  background: black;
  background-size: cover;
  background-position: center;
  color: #555 !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services h1[b-q8ho6xwgpw] {
  text-align: center;
  color: #fff !important;
  padding-bottom: 10px;
}

#services h1[b-q8ho6xwgpw]::after {
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

#services h3[b-q8ho6xwgpw] {
  font-weight: 400;
  color: white;
  margin: auto;
}

#services p[b-q8ho6xwgpw] {
  font-weight: 400;
  color: white;
  margin: auto;
  margin-top: 20px;
}


#services i[b-q8ho6xwgpw] {
  color: white;
}

.icon[b-q8ho6xwgpw] {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.services .col-md-4:hover[b-q8ho6xwgpw] {
  background: blue;
  ;
  cursor: pointer;
  transition: 0.7s;
}


/* CONTACT HTML */

#contact[b-q8ho6xwgpw] {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;


}

.contact-form[b-q8ho6xwgpw] {
  padding: 15px;
}

[b-q8ho6xwgpw]::placeholder {
  color: #999 !important;
}

.follow[b-q8ho6xwgpw] {
  background: #fff;
  padding: 10px;
  margin: 15px;
}

.contact-info .fa[b-q8ho6xwgpw] {
  margin: 10px;
  color: blue;
  ;
  font-weight: bold;
}


/* CART HTML */

/* #site-info {
  height: 3em;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: #FCB941;
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
} */


body#checkout-page #site-info[b-q8ho6xwgpw] {
  position: static;
}

#shopping-cart[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

.shopping-cart[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.shopping-cart th[b-q8ho6xwgpw] {
  font-size: 1.3em;
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

.shopping-cart td[b-q8ho6xwgpw] {
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even)[b-q8ho6xwgpw] {
  background: #fafafa;
}

.shopping-cart td.pdelete[b-q8ho6xwgpw] {
  text-align: center;
}

.pdelete a[b-q8ho6xwgpw],
.pdelete a:hover[b-q8ho6xwgpw] {
  color: #c00;
  text-decoration: none;
  font-size: 2.5em;
  display: block;
  text-align: center;
}

#shopping-cart-actions[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#shopping-cart-actions li[b-q8ho6xwgpw] {
  display: inline-block;
  margin-right: 1em;
}

#pricing[b-q8ho6xwgpw] {
  padding: 0.5em;
  margin: 1em 0;
  background: #fafafa;
}

#sub-total[b-q8ho6xwgpw],
#shipping[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  text-align: right;
}

#sub-total span[b-q8ho6xwgpw],
#shipping span[b-q8ho6xwgpw] {
  margin-left: 1em;
}

#content>h1[b-q8ho6xwgpw],
#checkout-order-form h2[b-q8ho6xwgpw] {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total[b-q8ho6xwgpw],
#pricing #shipping[b-q8ho6xwgpw] {
  margin: 1em 0;
}

#checkout-order-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#checkout-order-form fieldset[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend[b-q8ho6xwgpw] {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div[b-q8ho6xwgpw] {
  margin-bottom: 1em;
}

#checkout-order-form label[b-q8ho6xwgpw] {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"][b-q8ho6xwgpw] {
  width: 200px;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.1em;
}

#checkout-order-form select[b-q8ho6xwgpw] {
  width: 200px;
  display: block;
}

.message[b-q8ho6xwgpw] {
  display: block;
  margin: 0.5em 0;
  color: red;
}

#user-details[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#user-details>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 2em;
}

#user-details-content[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

#user-details-content .detail[b-q8ho6xwgpw] {
   float: left;
  width: 46%; 
}

#user-details-content .detail.right[b-q8ho6xwgpw] {
  float: right;
}

#user-details-content .detail>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

#user-details-content ul[b-q8ho6xwgpw] {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#user-details-content li[b-q8ho6xwgpw] {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#paypal-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#fieldset-billing div>label[b-q8ho6xwgpw] {
  color: #007bff;
}

#fieldset-shipping div>label[b-q8ho6xwgpw] {
  color: #007bff;
}

#fieldset-billing[b-q8ho6xwgpw],
#fieldset-shipping[b-q8ho6xwgpw] {
  width: 50%
}

.checkout-page[b-q8ho6xwgpw]::after {
  content: '';
  clear: both;
  display: block;
}

/* CHECKOUT HTML */

#site-info[b-q8ho6xwgpw] {
  height: 3em;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: blue;
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
}

body#checkout-page #site-info[b-q8ho6xwgpw] {
  position: static;
}

#shopping-cart[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

.shopping-cart[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.shopping-cart th[b-q8ho6xwgpw] {
  font-size: 1.3em;
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

.shopping-cart td[b-q8ho6xwgpw] {
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even)[b-q8ho6xwgpw] {
  background: #fafafa;
}

.shopping-cart td.pdelete[b-q8ho6xwgpw] {
  text-align: center;
}

.pdelete a[b-q8ho6xwgpw],
.pdelete a:hover[b-q8ho6xwgpw] {
  color: #c00;
  text-decoration: none;
  font-size: 2.5em;
  display: block;
  text-align: center;
}

#shopping-cart-actions[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#shopping-cart-actions li[b-q8ho6xwgpw] {
  display: inline-block;
  margin-right: 1em;
}

#pricing[b-q8ho6xwgpw] {
  padding: 0.5em;
  margin: 1em 0;
  background: #fafafa;
}

#sub-total[b-q8ho6xwgpw],
#shipping[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  text-align: right;
}

#sub-total span[b-q8ho6xwgpw],
#shipping span[b-q8ho6xwgpw] {
  margin-left: 1em;
}

#content>h1[b-q8ho6xwgpw],
#checkout-order-form h2[b-q8ho6xwgpw] {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total[b-q8ho6xwgpw],
#pricing #shipping[b-q8ho6xwgpw] {
  margin: 1em 0;
}

#checkout-order-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#checkout-order-form fieldset[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend[b-q8ho6xwgpw] {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div[b-q8ho6xwgpw] {
  margin-bottom: 1em;
}

#checkout-order-form label[b-q8ho6xwgpw] {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"][b-q8ho6xwgpw] {
  width: 200px;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.1em;
}

#checkout-order-form select[b-q8ho6xwgpw] {
  width: 200px;
  display: block;
}

.message[b-q8ho6xwgpw] {
  display: block;
  margin: 0.5em 0;
  color: red;
}

#user-details[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#user-details>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 2em;
}

#user-details-content[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

#user-details-content .detail[b-q8ho6xwgpw] {
   float: left;
  width: 46%; 
}

#user-details-content .detail.right[b-q8ho6xwgpw] {
  float: right;
}

#user-details-content .detail>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

#user-details-content ul[b-q8ho6xwgpw] {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#user-details-content li[b-q8ho6xwgpw] {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#paypal-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#fieldset-billing div>label[b-q8ho6xwgpw] {
  color: #007bff;
}

#fieldset-shipping div>label[b-q8ho6xwgpw] {
  color: #007bff;
}

#fieldset-billing[b-q8ho6xwgpw],
#fieldset-shipping[b-q8ho6xwgpw] {
  width: 50%
}

.checkout-page[b-q8ho6xwgpw]::after {
  content: '';
  clear: both;
  display: block;
}


/* CHECKOUT HTML */

#site-info[b-q8ho6xwgpw] {
  height: 3em;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: blue;
  position: absolute;
  color: #fff;
  left: 0;
  bottom: 0;
}

body#checkout-page #site-info[b-q8ho6xwgpw] {
  position: static;
}

#shopping-cart[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

.shopping-cart[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.shopping-cart th[b-q8ho6xwgpw] {
  font-size: 1.3em;
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

.shopping-cart td[b-q8ho6xwgpw] {
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even)[b-q8ho6xwgpw] {
  background: #fafafa;
}

.shopping-cart td.pdelete[b-q8ho6xwgpw] {
  text-align: center;
}

.pdelete a[b-q8ho6xwgpw],
.pdelete a:hover[b-q8ho6xwgpw] {
  color: #c00;
  text-decoration: none;
  font-size: 2.5em;
  display: block;
  text-align: center;
}

#shopping-cart-actions[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#shopping-cart-actions li[b-q8ho6xwgpw] {
  display: inline-block;
  margin-right: 1em;
}

#pricing[b-q8ho6xwgpw] {
  padding: 0.5em;
  margin: 1em 0;
  background: #fafafa;
}

#sub-total[b-q8ho6xwgpw],
#shipping[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  text-align: right;
}

#sub-total span[b-q8ho6xwgpw],
#shipping span[b-q8ho6xwgpw] {
  margin-left: 1em;
}

#content>h1[b-q8ho6xwgpw],
#checkout-order-form h2[b-q8ho6xwgpw] {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total[b-q8ho6xwgpw],
#pricing #shipping[b-q8ho6xwgpw] {
  margin: 1em 0;
}

#checkout-order-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#checkout-order-form fieldset[b-q8ho6xwgpw] {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend[b-q8ho6xwgpw] {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div[b-q8ho6xwgpw] {
  margin-bottom: 1em;
}

#checkout-order-form label[b-q8ho6xwgpw] {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"][b-q8ho6xwgpw] {
  width: 200px;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.1em;
}

#checkout-order-form select[b-q8ho6xwgpw] {
  width: 200px;
  display: block;
}

.message[b-q8ho6xwgpw] {
  display: block;
  margin: 0.5em 0;
  color: red;
}

#user-details[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

#user-details>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 2em;
}

#user-details-content[b-q8ho6xwgpw] {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

#user-details-content .detail[b-q8ho6xwgpw] {
   float: left;
  width: 46%; 
}

#user-details-content .detail.right[b-q8ho6xwgpw] {
  float: right;
}

#user-details-content .detail>h2[b-q8ho6xwgpw] {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

#user-details-content ul[b-q8ho6xwgpw] {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#user-details-content li[b-q8ho6xwgpw] {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#paypal-form[b-q8ho6xwgpw] {
  margin: 1.5em 0;
}

/* FAQ HTML */

.Question[b-q8ho6xwgpw] {
color: blue;
font-weight: bold;
margin-bottom: 0px;

}
.Answer[b-q8ho6xwgpw] {
color: grey;
font-style: italic;
margin-top:0px;
padding-left: 10px;
}

/* SERVICES HTML */

.Service_line[b-q8ho6xwgpw] {
color: blue;
font-weight: bold;
margin-bottom: 0px;

}
.Service_entry[b-q8ho6xwgpw] {
  color: grey;
  margin-top: 0px;
  padding-left: 10px;
  font-style: italic;
}